<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="IdSrv3Entities" connectionString="metadata=res://*/EntityFrameworkModels.IdSrv3Models.IdSrv3Model.csdl|res://*/EntityFrameworkModels.IdSrv3Models.IdSrv3Model.ssdl|res://*/EntityFrameworkModels.IdSrv3Models.IdSrv3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OSMMOBILE-E550;initial catalog=Dev_IdSrv3;persist security info=True;user id=SA;password=OscDevGru;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IdSrv2UserEntities" connectionString="metadata=res://*/EntityFrameworkModels.IdSrv2Models.IdSrv2UserModel.csdl|res://*/EntityFrameworkModels.IdSrv2Models.IdSrv2UserModel.ssdl|res://*/EntityFrameworkModels.IdSrv2Models.IdSrv2UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OSMMOBILE-E550;initial catalog=Dev_IdSrv3;persist security info=True;user id=SA;password=OscDevGru;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IdSrv2Entities" connectionString="metadata=res://*/EntityFrameworkModels.IdSrv2Models.IdSrv2UserModel.csdl|res://*/EntityFrameworkModels.IdSrv2Models.IdSrv2UserModel.ssdl|res://*/EntityFrameworkModels.IdSrv2Models.IdSrv2UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OSMMOBILE-E550;initial catalog=OSCIDUsers;user id=sa;password=OscDevGru;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>